<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Dado</th>
            <th scope="col">Valor</th>
            <th scope="col">Unidade</th>
        </tr>
    </thead>
    <tbody>
        <tr app-b-voltage ></tr>
        <tr app-current></tr>
        <tr app-f-break-temp></tr>
        <tr app-r-break-temp></tr>
        <tr app-f-speed></tr>
        <tr app-r-speed></tr>
        <tr app-temperature></tr>
        <tr app-time></tr>
        <tr app-tps></tr>
        <tr app-wheel-position></tr>
    </tbody>
    
</table>